<div class="center">
  <div class="row">

<h1>Pick your favourite team...</h1>

      <div class="span12">
   
    <% @clubs.each do |club| %>
    <div class="span2">
     <div class="club">
    <%= link_to "#{club.name}", start_questions_path(:club_id => club.id, :name => @guest.name), class: 'btn btn-primary' %></br>
   </div>
   </div>
    <% end %>
  

      </div>
  </div>
</div>