// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
	text-align: center;
}
h1 {
	font-size: 50px;
	margin-bottom: 30px;
}
h2 {
	font-size: 40px;
	margin-bottom: 80px !important;
}
.club {
	margin-bottom: 25px;
	margin-top: 15px;

}
ul li {
	text-decoration: none;
	font-size: 16px;
	list-style: none;
}
.btn {
font-size: 22px !important;
padding-top: 15px;
padding-bottom: 15px;
}